@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto&display=swap');
:root{
  --font-family: 'Roboto', sans-serif;
  --primary-color: #FFFFFF;
  --secondary-color: #474747;
  --primary-accent-color: #00754B;
  --secondary-accent-color: #00C896;
}
